@charset "utf-8";

.weatherContainer {
    margin-top: 50px;
}

.weatherContainer dl {
    display: flex;
    justify-content: center;
}

.weatherContainer dd,
dt {
    margin-right: 14px;
}

.loadWeatherContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}