@charset "utf-8";

.weather {
    margin-bottom: 50px;
}

.weatherContainer {
    margin-top: 50px;
}

.weatherContainer dl {
    display: flex;
    justify-content: center;
}

.weatherContainer dt,
.weatherContainer dd {
    margin-left: 20px;
}

.loadWeatherContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading,
.error {
    text-align: center;
    margin-top: 50px;
    height: 170px;
}

dd {
    margin-inline-start: 0px;
}