@charset "utf-8";

.weather {
    margin-bottom: 50px;
}

.weatherContainer {
    margin-top: 50px;
}

.weatherContainer dl {
    display: flex;
    justify-content: center;
}

.weatherContainer dd,
dt {
    margin-right: 14px;
}

.loadWeatherContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading,
.error {
    margin-top: 50px;
    height: 170px;
}